html{
    cursor: url('imagens/mata_mosca.png') 30 30, auto;
}

body{
    background-image: url('imagens/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.mosquito1{
    width: 50px;
    height: 50px;
}

.mosquito2{
    width: 60px;
    height: 60px;
}

.mosquito3{
    width: 75px;
    height: 75px;
}

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;
}

.tempo{
    float: left;
    font-size: 20px;
    font-weight: bold;
}


.pontos{
    float: left;
    font-size: 20px;
    font-weight: bold;
}